<apex:page controller="PrimitiveDataController">
    <style>
        #page{
        //background-color: lightseagreen;
          display:flex;
        }
        .label{
            font-size: x-large;
        	float: left;
        }
        .ip{
            border-radius: 6px;
    		height: 24px;
        }
       
    </style>
   <apex:form >
      <div id='page'>     
          <div > <div class='label'>Name :</div> <div class='inbox'><apex:inputtext styleclass="ip" value="{!Name}"/></div> </div>
          <div > <div class='label'>Salary :</div> <div class='inbox'><apex:inputtext styleclass="ip" value="{!salary}"/></div> </div>
       </div>      				
   </apex:form>
</apex:page>