<apex:page controller="SobjectController" tabStyle="Account">
    <apex:form >        
    	<apex:pageblock title="New Account">
            <apex:pageBlockButtons location="Top">
        		<apex:commandButton value="Save" action="{!insertacc}"/>
        	</apex:pageBlockButtons>
        	<apex:pageBlockSection title="Account Information">
                <apex:inputField value="{!acc.name}"/>
                <apex:inputfield value="{!acc.industry}"/>
                <apex:inputfield value="{!acc.type}"/>
                <apex:inputfield value="{!acc.rating}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Billing Information">
                <apex:inputField value="{!acc.billingcity}"/>
                <apex:inputfield value="{!acc.billingstate}"/>
                <apex:inputfield value="{!acc.billingcountry}"/>
                <apex:inputfield value="{!acc.SLAExpirationDate__c}"/>
            </apex:pageBlockSection>
        </apex:pageblock>
    </apex:form>
</apex:page>