.THIS .docpopupCloseCls{
    color: rgb(224, 229, 238);
    font-size: 24px;
    position: relative;
    left: 8px;
    top: 5px;
}
.THIS .slds-modal__container{
    width:98%; 
    margin: 0 auto;
    padding: 0;
}
.THIS .contact-table thead tr th{
    line-height:2em;
        padding: 2rem;
}
.THIS .table{
           padding: 2rem;
 
}
.THIS .popup-back{
    height: 100vh;
    background: #fff;
}
.THIS .slds-fade-in-open{
    background: #b0c4df;
}
.THIS.cRelatedContacts{
    padding: 0rem;
}
.THIS.slds-card__body{
    padding: 1rem;
}